@(eventForm: Form[EventForm])(implicit flash: Flash)

@import XenlonHelpers._
@import xenlon.helper.messages

@main("イベント登録") {

  <ul class="nav nav-tabs">
    <li>
      <a href="@controllers.event.routes.EventSearch.index()" data-toggle="tab">検索</a>
    </li>
    <li class="active">
      <a href="#" data-toggle="tab">登録</a>
    </li>
  </ul>

  @messages(eventForm.errors)

  @helper.form(action = controllers.event.routes.EventCreate.create(), 'class -> "form-horizontal"){
    <div class="container">
      <fieldset>
        <legend>イベントの情報</legend>
        @helper.inputText(eventForm("eventId"))
        @helper.inputText(eventForm("eventNm"))
        @helper.inputDate(eventForm("eventDate"))
        @helper.inputText(eventForm("homepage"))
        <input type="submit" value="登録" class="btn btn-primary">
      </fieldset>
      <a href="@controllers.event.routes.EventCreate.createTable()" class="btn">
        CREATE TABLE
      </a>
      <a href="@controllers.event.routes.EventCreate.dropTable()" class="btn">
        DROP TABLE
      </a>
    </div>
  }
}