@(eventForm: Form[EventSearchForm], events: List[Event])

@import XenlonHelpers._

@main("イベント検索") {
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#" data-toggle="tab">検索</a>
    </li>
    <li>
      <a href="@controllers.event.routes.EventCreate.index()" data-toggle="tab">登録</a>
    </li>
  </ul>

  <div class="container">
    <br>
    @if(eventForm.errors){
      <div class="alert alert-danger">
        入力内容に誤りがあります。確認して下さい。
      </div>
    }
  </div>

  @helper.form(action = controllers.event.routes.EventSearch.search(), 'role -> "form", 'class -> "form-horizontal"){
    <div class="container">
      <fieldset>
        <legend>検索条件</legend>
        @helper.inputText(eventForm("eventId"))
        @helper.inputText(eventForm("eventNm"))
        @helper.inputDate(eventForm("eventDateFrom"))
        @helper.inputDate(eventForm("eventDateTo"))
      </fieldset>
        <button type="submit" class="btn btn-primary">検索</button>

      @if(events) {
        <legend>イベント一覧</legend>
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>イベントID</th>
              <th>イベント名</th>
              <th>開催日</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            @for((event) <- events){
              <tr>
                <td>@event.eventId</td>
                <td>@event.eventNm</td>
                <td>@event.eventDate</td>
                <td>
                  <a href="@controllers.event.routes.EventUpdate.index(event.id)">
                    <i class="glyphicon glyphicon-edit"></i>
                  </a>
                  <a href="@controllers.event.routes.EventSearch.delete(event.id)">
                    <i class="glyphicon glyphicon-remove"></i>
                  </a>
                </td>
              </tr>
            }
          </tbody>
        </table>
      }
    </div>
  }
}